" Author: Swaylinux
" Email: Atheonealone37@gmail.com

" ================================================================================================
" = Basic settings ===============================================================================
" ================================================================================================
" leaderkey
let mapleader=" "

set clipboard+=unnamed
set scrolloff=5
set number
set relativenumber
set incsearch
set hlsearch
set ignorecase smartcase
set showmode
set history=1000

"=========="
"==plugins="
"=========="
set NERDTree
set surround
set commentary

" easy system clipboard copy/paste
noremap y "*y
noremap Y "*Y
noremap p "*p
noremap P "*P

nnoremap S :w!<CR>
nnoremap Q :q!<CR>

nmap ;l :nohl<cr>

noremap J 5j
noremap K 5k

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $


" = No Leader Keymaps
nmap ]e <action>(GotoNextError)
nmap [e <action>(GotoPreviousError)
nmap gi <action>(GotoImplementation)

" bookmark in whole program
nmap ma <action>(ToggleBookmark)

" change tab
nmap tn <action>(NextTab)
nmap tp <action>(PreviousTab)

map <leader>r <action>(RecentFiles)
map <A-z> <action>(ToggleZenMode)

"File Path
nnoremap <leader>p :action ShowFilePath<CR>

map <leader>n <action>(RenameElement)


nmap <leader>ff <action>(GotoFile)
nmap <leader>ft <action>(FindInPath)
nmap <leader>fc <action>(GotoAction)
nmap <leader>fm <action>(ReformatCode) \| <action>(OptimizeImports)
nmap <leader>fb <action>(ShowBookmarks)
nmap <leader>wo <action>(Un splitAll) \| <action>(HideAllWindows)


" NERDTree
let g:NERDTreeMapJumpParent="h"
let g:NERDTreeMapJumpRoot="H"
let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapPreview="L"
